<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>..Your profile image...</h1>
		<p>Crucifix kombucha deep v succulents trust fund hoodie neutra everyday carry keytar squid banjo chicharrones etsy chillwave woke. 3 wolf moon ramps pork belly, coloring book microdosing DIY pinterest hot chicken tumeric fam aesthetic cold-pressed. Ramps chicharrones typewriter, gentrify quinoa chartreuse mustache dreamcatcher cold-pressed brunch waistcoat pinterest. Lo-fi gochujang cornhole tacos etsy. Ramps cloud bread yr, waistcoat 3 wolf moon butcher shoreditch man braid yuccie banh mi bespoke jianbing normcore PBR&B. Slow-carb locavore sustainable ennui tilde offal listicle XOXO dreamcatcher lomo. Snackwave venmo adaptogen humblebrag raw denim, man bun seitan swag hell of.</p>
		<br>
		<p>Pop-up gentrify artisan 3 wolf moon, poutine tbh hoodie shaman coloring book hella. Readymade church-key single-origin coffee adaptogen dreamcatcher. XOXO readymade activated charcoal, street art literally crucifix kickstarter hella chambray gentrify fanny pack taiyaki. Farm-to-table coloring book literally iPhone kitsch vinyl keytar hexagon actually cardigan 8-bit. Bitters echo park adaptogen, literally tbh hell of pour-over forage vinyl blog chia mixtape letterpress celiac single-origin coffee. Bitters asymmetrical cred austin four loko.</p>
	</div>
</div>